.svg-ag {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.g-ag {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.div-ag {
  width: 300px;
  height: 600px;
  display: inline;
}

.nodebox-bg {
  fill: white;
  stroke: lightgray;
  stroke-width: 1px;
  rx: 5;
  ry: 5;
}

.node-box-scatter-line {
  stroke: lightgray;
  fill: none;
}

.node-box-scatter-circle {
  fill: gray;
}

.neuron-id {
  fill: gray;
  stroke: white;
  paint-order: stroke;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.layer-text {
  fill: gray;
}