.svg-ag {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.g-ag {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.div-ag {
  width: 300px;
  height: 600px;
  display: inline;
}

.tick {
  font-size: 5px;
}

.node-circle {
  stroke: white;
  stroke-width: 0.7px;
}

.nodebox-bg {
  fill: white;
  stroke: lightgray;
  stroke-width: 1px;
  /* rx: 5; */
  /* ry: 5; */
}

.nodebox-id {
  font-size: 8px;
  fill: gray;
}

.nodebox-annotation {
  font-size: 6px;
  fill: #AAAAAA;
}

.node-box-axis path,
.node-box-axis line {
  fill: none;
  stroke: gray;
  stroke-width: 0.5px;
}
.node-box-axis text {
  fill: gray;
}

.node-box-x-axis line {
  transform: translate(0px, 0.3px);
}

.node-box-y-axis line {
  transform: translate(0.3px, 0px);
}

.axis-annotation {
  font-size: 5px;
  fill: gray;
}

.node-box-scatter-line {
  stroke: lightgray;
  stroke-width: 0.5px;
  fill: none;
}

.node-box-scatter-circle {
  fill: lightgray;
  stroke: white;
  stroke-width: 0.3px;
  r: 1px;
}

.activation-target {
  stroke-width: 0.5px;
}

.activation-original {
  stroke-width: 0.5px;
}

.annotation-target {
  font-size: 5px;
}

.annotation-original {
  font-size: 5px;
}

.neuron-id {
  fill: gray;
  stroke: white;
  paint-order: stroke;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.layer-text {
  fill: gray;
}

.flowline {
  cursor: crosshair;
  stroke-dasharray: 10 4;
  animation: flow 30s linear;
}

@keyframes flow {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 10;
  }
}