#header {
  background-color: var(--header-bg);
  border-bottom: 1px gray solid;
}

#main-title {
  font-weight: bolder;
  display: inline-block;
  transform: translate(45px, -3px);
  font-size: 40px; 
  padding: 5px;
  color: var(--title-txt);
}

#sub-title {
  display: inline-block;
  transform: translate(80px, -10px);
  font-size: 30px;
  color:gray;
}

.header-sub-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 23px;
  color: var(--header-txt);
  transform: translate(0px, 2px);
}

.header-option-title {
  height: 23px;
  transform: translate(0px, 4px);
}

.class-dropdown {
  display: inline-block;
  height: 20px;
}

#class-dropdown-original {
  transform: translate(0px, 2px);
}

#class-dropdown-target {
  transform: translate(0px, 2px);
}

.class-dropdown-icon {
  display: inline-block;
  float: right;
  font-size: 15px;
  padding-left: 5px;
} 

.class-dropdown-text {
  display: inline-block;
  font-size: 15px;
  transform: translate(0px, -5px);
  font-weight: bold;
}

.class-option-box {
  width: 160px;
  y: 3;
  font-size: 15px;
  stroke: lightgray;
  stroke-width: 1px;
  rx: 5px;
  ry: 5px;
  fill: white;
}

.class-option-hl-box {
  width: 160px;
}

.class-option-text {
  font-size: 12px;
}

