#header {
  height: 45px;
  border-bottom: 1px solid lightgray;
}

#header-horizontal-line {
  width: 5000px;
  transform: translate(0px, 35px);
  border-color: lightgray;
  border-width: 0.5px;
}

#main-title {
  font-weight: bolder;
  display: inline-block;
  transform: translate(50px, 6px);
  font-size: 25px;  
}

#sub-title {
  display: inline-block;
  transform: translate(300px, 3px);
  font-size: 23px;
  color:gray;
}

.header-sub-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: gray;
  transform: translate(0px, 2px);
}

.header-option-title {
  border-bottom: 1px solid gray;
  height: 23px;
  transform: translate(0px, 4px);
}

.class-dropdown {
  display: inline-block;
  height: 20px;
}

#class-dropdown-original {
  transform: translate(0px, 2px);
}

#class-dropdown-target {
  transform: translate(0px, 2px);
}

.class-dropdown-icon {
  display: inline-block;
  float: right;
  color: gray;
  font-size: 20px;
} 

.class-dropdown-text {
  display: inline-block;
  font-size: 15px;
  transform: translate(0px, -5px);
  font-weight: bold;
}

.class-option-box {
  width: 160px;
  y: 3;
  font-size: 15px;
  stroke: lightgray;
  stroke-width: 1px;
  rx: 5px;
  ry: 5px;
  fill: white;
}

.class-option-hl-box {
  width: 160px;
}

.class-option-text {
  font-size: 12px;
}

