/* Comparison mode */
#g-compare-option {
  font-size: 15px;
  transform: translate(50px, 530px);
}

#compare-on-off-icon {
  transform: translate(130px, 0px);
}

/* Comparison bar */
#g-compare-bar {
  transform: translate(0px, 30px);
  fill: gray;
}

#g-compare-filter-bar {
  transform: translate(0px, 30px);
}

#filter-bar-compare {
  fill: gray;
  stroke-width: 1px;
  height: 2px;
}

.attack-pointer-line {
  stroke: gray;
  stroke-width: 2px;
}

#outer-rect-weak {
  fill: gray;
  fill-opacity: 0.3;
}

#inner-rect-strong {
  fill: white;
  fill-opacity: 0.8;
}

.compare-strength-val {
  font-size: 13px;
}

.compare-strength-label-text {
  stroke-width: 0.4px;
  font-size: 13px;
  stroke: gray;
  fill: gray;
}

.compare-strength-symbol-text {
  stroke-width: 0.4px;
  fill: lightgray;
  font-size: 13px;
}

/* Edge option */
#g-compare-edge-option {
  transform: translate(0px, 130px);
}

#g-compare-edge-dropdown {
  transform: translate(0px, 18px);
}

#g-compare-edge-dropdown-menu {
  transform: translate(0px, 25px);
}

.compare-edge-option-text {
  fill: gray;
  font-size: 13px;
}

#compare-option-text-2 {
  transform: translate(65px, 18px);
}

.compare-edge-item-text {
  font-size: 13px;
  transform: translate(7px, 11px);
  fill: gray;
}

#edge-compare-dropdown-bg-rect {
  fill: var(--option-bg);
}

/* Comparison legend - general */
#g-compare-legend {
  transform: translate(0px, 145px)
}

.compare-legend-text {
  font-size: 13px;
  fill: gray;
}

/* Comparison legend - neither */
#symbol-neither {
  transform: translate(0px, 20px);
}

#outer-neither {
  fill: lightgray;
}

#inner-neither {
  fill: lightgray;
}

/* Comparison legend - weaker */
#symbol-weaker {
  transform: translate(0px, 43px);
}

#outer-weaker {
  fill: lightgray;
}

#inner-weaker {
  fill: gray;
}

/* Comparison legend - stronger */
#symbol-stronger {
  transform: translate(85px, 20px);
}

#outer-stronger {
  fill: gray;
}

#inner-stronger {
  fill: lightgray;
}

/* Comparison legend - both */
#symbol-both {
  transform: translate(85px, 43px);
}

#outer-both {
  fill: gray;
}

#inner-both {
  fill: gray;
}