/* Options general */
.option-title {
  fill: black;
  /* font-weight: bolder; */
}

.option-help {
  font-size: 15px;
  transform: translate(0px, 20px);
  fill: gray;
}

/* Filter pathways */
#g-filter-option {
  font-size: 15px;
  transform: translate(50px, 160px);
}

/* Highlight pathways */
#g-highlight-option {
  font-size: 15px;
  transform: translate(50px, 300px);
}

.what-to-see-option-checkbox {
  fill: var(--option-bg);
  stroke: lightgray;
  stroke-width: 1px;
  transform: translate(0px, -3px);
  rx: 1.3px;
  ry: 1.3px;
}

.what-to-see-option-text {
  fill: gray;
  font-size: 15px;
}

.what-to-see-option-checkbox-icon {
  font-size: 12.5px;
}
