#g-build-option {
  font-size: 15px;
  transform: translate(50px, 600px);
}

#build-on-off-icon {
  transform: translate(120px, 0px);
}

/* Highlight options */
.highlight-dropdown-rect {
  fill: white;
  transform: translate(0px, -13px);
}

.highlight-dropdown-line {
  stroke: gray;
  stroke-width: 1px;
}

.highlight-dropdown-text {
  transform: translate(0px, 0px);
}

#g-highlight-option-contents {
  transform: translate(0px, 25px);
  fill: gray;
  font-size: 15px;
}

/* Highlight what */
#highlight-option-text-2 {
  transform: translate(0px, 20px);
}
/* 
#highlight-option-what {
  transform: translate(100px, 0px);
} */


/* Highlight neurons */


#highlight-option-k-neurons {
  transform: translate(61px, 0px);
}




#highlight-option-text-3 {
  transform: translate(0px, 20px);
}

#highlight-option-text-4 {
  transform: translate(0px, 40px);
}

#highlight-option-text-5 {
  transform: translate(0px, 40px);
}

#highlight-option-changed-neurons {
  transform: translate(115px, 40px);
}

#highlight-option-text-6 {
  transform: translate(184px, 40px);
}

/* Highlight connections */
#g-highlight-connections {
  transform: translate(0px, 70px);
}

#highlight-option-text-8 {
  transform: translate(0px, 20px);
}

#highlight-option-k-connections {
  transform: translate(118px, 20px);
} 

#highlight-option-text-9 {
  transform: translate(154px, 20px);
}

#highlight-option-what-connections {
  transform: translate(0px, 40px);
}

#highlight-option-text-10 {
  transform: translate(75px, 40px);
}

#highlight-option-text-11 {
  transform: translate(0px, 60px);
}

#highlight-option-changed-connections {
  transform: translate(115px, 60px);
}

#highlight-option-text-12 {
  transform: translate(184px, 60px);
}

/* Dropdown menu */
.dropdown-menu-bg-rect {
  fill: white;
  stroke-width: 1px;
  stroke: gray;
  paint-order: stroke;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.dropdown-item-rect {
  fill: white;
}

.dropdown-item-text {
  transform: translate(8px, 12px);
  font-size:13px;
}

/* Dropdown what neurons */
#g-dropdown-what-neurons {
  transform: translate(100px, 5px);
}

#g-dropdown-menu-activated-neurons {
  transform: translate(0px, 5px);
}

#g-dropdown-menu-changed-neurons {
  transform: translate(0px, 20px);
}

#g-dropdown-menu-excited-neurons {
  transform: translate(0px, 35px);
}

#g-dropdown-menu-inhibited-neurons {
  transform: translate(0px, 50px);
}

#g-dropdown-changed-neurons {
  transform: translate(115px, 45px);
}

/* Dropdown what connections */
#g-dropdown-what-connections {
  transform: translate(0px, 115px); /* 40 + 75 */
}

#g-dropdown-menu-activated-connections {
  transform: translate(0px, 5px);
}

#g-dropdown-menu-changed-connections {
  transform: translate(0px, 20px);
}

#g-dropdown-menu-excited-connections {
  transform: translate(0px, 35px);
}