@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Oxygen&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

#svg-main {
  width: 1600px;
  height: 1000px;
}

#svg-ag-all {
  height: 1000px;
}

.g-wrapper-rect {
  width: 500px;
  height: 1000px;
  fill: white;
}

.g-padding-rect {
  width: 100px;
  height: 1000px;
  fill: white;
}