@import url('https://fonts.googleapis.com/css?family=Barlow|Oxygen|Bellota&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

#svg-main {
  width: 1600px;
  height: 1000px;
}

#svg-ag {
  height: 1000px;
}

.main-bg {
  fill: white;
  width: 300px;
  height: 1000px;
}

#svg-attack-option {
  fill: gray;
}