@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Oxygen&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

#svg-ag-all {
  width: 1200px;
  height: 1000px;
}