#top-control {
  height: 70px;
}

#top-control-horizontal-line {
  width: 5000px;
  transform: translate(0px, 50px);
  border-color: lightgray;
  border-width: 0.5px;
}

.top-control-dropdown {
  border: 1px lightgray solid;
  border-radius: 10px;
  display: inline-block;
  height: 30px;
}

.top-control-dropdown-title {
  display: inline-block;
  font-size: 20px;
  transform: translate(10px, 1px);
  color: gray;
}

.top-control-dropdown-val {
  display: inline-block;
  font-size: 20px;
  transform: translate(15px, 1px);
  font-weight: bold;
}

.top-control-dropdown-icon {
  display: inline-block;
  float: right;
  transform: translate(-6px, 5px);
  color: gray;
}

#top-control-attack-dropdown {
  width: 200px;
}

.svg-filter-bar {
  display: inline-block;
  height: 35px;
  transform: translate(100px, 0px);
  width: 400px;
}

.filter-bar-title {
  font-size: 21px;
  fill: gray;
}

.filter-bar-rect {
  height: 3px;
}

.filter-bar-background {
  fill: lightgray;
}

.filter-bar-front {
  fill: gray;
}

.filter-bar-circle {
  r: 10px;
  fill: white;
  stroke: gray;
  stroke-width: 2.5px;
}

.filter-bar-text {
  font-size: 18px;
  fill: gray;
}

#filter-bar-front-attack {
  transform: translate(175px, 15px);
}

#filter-bar-background-attack {
  transform: translate(175px, 15px);
}

#filter-bar-circle-attack {
  transform: translate(175px, 15px);
}

#filter-bar-text-attack {
  transform: translate(345px, 23px);
}

#filter-bar-front-vulnerability {
  transform: translate(150px, 15px);
}

#filter-bar-background-vulnerability {
  transform: translate(150px, 15px);
}

#filter-bar-circle-vulnerability {
  transform: translate(150px, 15px);
}

#filter-bar-text-vulnerability {
  transform: translate(325px, 23px);
} 

#filter-bar-front-topK {
  transform: translate(90px, 15px);
}

#filter-bar-background-topK {
  transform: translate(90px, 15px);
}

#filter-bar-circle-topK {
  transform: translate(90px, 15px);
}

#filter-bar-text-topK {
  transform: translate(260px, 23px);
}

/* 

.attack-strength-slidebar {
  height: 3px;
  transform: translate(165px, 15px);
}

#attack-strength-slidebar-background{
  width: 150px;
  fill: lightgray;
}

#attack-strength-slidebar-front{
  fill: gray;
}

#attack-strength-circle{
  transform: translate(155px, 16px);
  fill: white;
  stroke: gray;
  stroke-width: 2px;
  r: 8px;
}

#attack-strength-val{
  font-size: 15px;
} */

