.idea/
.ipynb_checkpoints/
__pycache__/
.DS_Store
data/.DS_Store
data/*
data/sample-neurons/both_activated.json
design/*
Meeting-Massif.gdoc
chi-lbw-20-massif.pdf
code/backend/gen-graph-different-attack.ipynb
code/backend/run_attack_pgd.sh
chi-lbw-review.gdoc
code/backend/percentile.ipynb
