@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Oxygen&display=swap');

:root {
  --attack-from-color: rgb(60, 120, 240);
  --attack-to-color: rgb(240, 60, 60);
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

#svg-left {
  width: 80%;
  height: 1000px;
  display: inline-block;
}

#ag-title {
  transform: translate(100px, 0px);
  height: 40px;
  display: inline-block;
  width: 80%;
}

#analysis-title {
  height: 40px;
  display: inline-block;
}

#analysis-txt {
  transform: translate(0px, -990px);
  display: inline-block;
}

.stop-left {
  stop-color: #3f51b5;
}

.stop-right {
  stop-color: #009688;
}

.filled {
  fill: url(#mainGradient);
}

.outlined {
  fill: none;
  stroke: url(#mainGradient);
  stroke-width: 4;
}